h1{
    color:red;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* .btn{
    background-color:  rgba(248, 43, 43, 0.477);
} */


